/* 
  CSS RESET
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

/* 
-------------------------------------------
*/
